body {
    color: red;
    background: cyan;
    margin: 0px;
}

header {
    border-bottom: solid 2px gold;
    padding: 20px;
    font-size: 30px;
    color: gold;
}

section {
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}