body {
    color: red;
    background: cyan;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px gold;
    padding: 20px;
    font-size: 30px;
    color: gold;
}

.chamada {
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 25px;
}

p {
    font-size: 15px;
}

img {
    height: 150px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categorias {
    padding-left: 15px;
    padding-right: 15px;
}